config-version: 1

root-folder: synapse_raw
# modules-folder: modules
# The name of the default database to use. Can be overridden in the change scripts.
snowflake-database: {{env_var('SNOWFLAKE_SYNAPSE_DATA_WAREHOUSE_DATABASE')}}
# Create the change history schema and table, if they do not exist (the default is False)
create-change-history-table: True
# Used to override the default name of the change history table (the default is METADATA.SCHEMACHANGE.CHANGE_HISTORY)
change-history-table: {{env_var('SNOWFLAKE_SYNAPSE_DATA_WAREHOUSE_DATABASE')}}.SCHEMACHANGE.CHANGE_HISTORY
vars:
  database_name: {{env_var('SNOWFLAKE_SYNAPSE_DATA_WAREHOUSE_DATABASE')}}
  stage_storage_integration: {{env_var('SNOWFLAKE_SYNAPSE_STAGE_STORAGE_INTEGRATION')}}
  stage_url: {{env_var('SNOWFLAKE_SYNAPSE_STAGE_URL')}}
  snapshots_stage_storage_integration: {{env_var('SNOWFLAKE_SNAPSHOTS_STAGE_STORAGE_INTEGRATION')}}
  snapshots_stage_url: {{env_var('SNOWFLAKE_SNAPSHOTS_STAGE_URL')}}
  stack: {{env_var('STACK')}}
  # secrets:
  #   # not a good example of secrets, just here to demo the secret filtering
  #   trips_s3_bucket: s3://snowflake-workshop-lab/citibike-trips
  #   weather_s3_bucket: s3://snowflake-workshop-lab/weather-nyc